/*
Theme Name: Propuesta Organizame
Theme URI: http://www.organizame.cl/
Description: organizame.cl
Version: 1.0
Author: Patricio RM
*/

/*====================================================
ESTILOS CSS ORGANIZAME
====================================================*/

/*LOGIN*/

body.login{
  background: #fff;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.f16{
  font-size: 16px;
}
.f14{
  font-size: 14px;
}
.f12{
  font-size: 12px;
}
a {
	color: #0079C1;
	cursor: pointer;
	pointer-events: auto;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
}
.container-fluid {
	padding-left: 40px;
	padding-right: 40px;
}
.m15top {
  margin-top: 15px !important;
}
.m40top {
  margin-top: 40px !important;
}
.m60top {
  margin-top: 60px !important;
}
.register-logo {
	padding: 30px 0 50px 60px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 34px;
	width: 150px;
	float: left;
	background-size: 150px 34px;
}
.login h2 {
	font-weight: 600;
  padding: 0;
  margin-bottom: 0;
 }
 .form-group {
  margin-bottom: 10px;
 }
 .form-group-login label {
  color: #81d496;
  font-size: 14px;
  font-weight: 700;
 }
 .form-group-login .form-control {
 	color: #000000 !important;
 	border: none;
 	padding: 10px 0px;
 	border-bottom: 1px solid #CCC;
 	margin-bottom: 10px;
 	outline: none;
 	-webkit-box-shadow: none !important;
 	-moz-box-shadow: none !important;
 	box-shadow: none !important;
 	border-radius: 0;
 }
 .btn-green {
  background: #81d496;
  color: #fff;
}
.btn-green:hover, .btn-green:focus {
  background: #81d496;
  color: #fff;
}
.btn-lg, .btn-group-lg>.btn {
  border-radius: 3px;
}
.footer {
	border-top: 1px solid #ddd;
	padding-top: 15px;
	margin-top: 50px;
	font-size: 12px;
}
.imagen-der-registro {
	background-image: url(../img/bg-landing.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left 800px bottom;
	height: 100%;
	width: 100%;
	position: fixed;
}

/*BANDEJA*/
.bandeja .navbar-default {
  background: #81d496;
}
.navbar-default {
  min-height: 0;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
  margin: 0 1px 0 0;
}
.nav > li {
  position: relative;
  display: block;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
#nav-icon2 {
	width: 20px;
	height: 20px;
	position: relative;
	margin: 14px 45px 6px auto;
	cursor: pointer;
	color: #fff;
}
.bandeja .navbar-nav > li {
  font-size: 14px;
}
.bandeja .navbar-nav > li > a {
 padding: 10px 15px;
 margin-right: 0px;
}
.bandeja .navbar-nav > li .navbar-form {
  display: inline-table;
}
.navbar-form {
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: none;
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
.bandeja .page-header {
  /*margin-top: 40px;*/
  padding: 10px 0 5px 0;
  /*margin-bottom: 20px;*/
  border-bottom: 1px solid #e1e1e1;
  background-color: #FFFFFF;
}
.page-header h2, h3 {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	color: #333;
	margin-bottom: 5px;
}
.breadcrumb {
	background-color: #f5f5f5 !important;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 30px;
}
ol.breadcrumb {
	padding-left: 40px;
}

/*FILTROS*/
.w100 {
  width: 100% !important;
}
.filtros.card, .filtros.panel-heading {
  padding: 10px 15px;
}
.filtros {
  margin-bottom: 15px;
}
.filtros-xs .col-2, .filtros-xs .col-3, .filtros-xs .col-4, .filtros-xs .col-5, .filtros-xs .col-6, .filtros-xs .col-7, .filtros-xs .col-8, .filtros-xs .col-9 {
    padding-top: 1px;
    padding-bottom: 2px;
}
.filtros .botones.col-2{
    border-left: 1px solid #e3e3e3;
    left: -1px;
}
.filtros-xs .botones .btn-group, .filtros-xs .botones .btn {
    margin: 10px 0px 0px 0;
}
.filtros-xs .botones-proveedor .btn-group, .filtros-xs .botones-proveedor .btn {
    margin: 20px 0px 0px 0;
}
.filtros-xs .input-group-xs .daterangepicker-input{
    height: 25px;
    font-size: 11px;
    line-height: 1.5;
    padding: 2px 5px;
}
.filtros-xs label{
    margin-bottom: 0px;
}
.card {
	margin-top: 0;
	margin-bottom: 30px;
	padding: 13px;
	box-shadow: none;
	border-radius: 2px;
}
.card-default {
	padding: 0;
}
.filtros {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}
.input-xs {
	height: 25px;
	padding: 2px 5px;
	font-size: 11px;
	line-height: 1.5;
	border-radius: 2px;
}
.filtros-xs label {
  margin-bottom: 0px;
}
.filtros label {
  font: normal 11px/130% Arial;
  width: 100%;
}
.btn-sm {
	padding: 3px 8px;
	font-size: 12px;
	line-height: 1.6em;
}
.pull-right {
  float: right!important;
}
.selectpicker {
	background-color: #FFFFFF;
	border: 1px solid #ced4da;
	border-radius: none !important;
}
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin-top: 5px;
}
.navbar-right {
	float: right;
}

/*TABLA*/
.table th {
  background: #f5f5f5!important;
}
.card-header .mb-3 {
	margin-bottom: 0!important;
}
#empTable {
	width: 100%;
}
#empTable th {
	background: #f5f5f5!important;
	border-color: #dee2e6;
	color: #495057;
}
#empTable td {
	padding: .3rem;
}
ul.datos {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
}
ul.datos li {
	display: block;
	text-align: right;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
}
ul.datos li strong {
  float: left;
}

/*MODAL*/
h3.title-modal {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 25px 15px 0 10px;
	color: #777;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	font-weight: 400;
	border-top: 2px solid #e8e8e8;
	line-height: 0;
}
#guardado {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

#guardado.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}